.form {
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 6px rgba(62, 60, 73, 0.3);
  width: 30%;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
}

.form .error {
  font-family: var(--poppins);
  margin-bottom: 10px;
  color: hsl(0, 100%, 74%);
  font-size: 14px;
}

.form > h2 {
  font-family: var(--roboto);
}

.form form div input {
  font-family: var(--poppins);
  width: 100%;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgba(62, 60, 73, 0.3);
  font-weight: 600;
}

.form form .btn {
  margin: 20px;
  color: white;
  text-align: center;
  letter-spacing: 1.2px;
  background-color: hsl(154, 59%, 51%);
  padding: 14px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px rgba(41, 171, 114, 1);
  border: none;
  font-size: 16px;
  font-weight: 700;
  width: 50%;
}

.form form .btn:hover {
  background-color: rgba(60, 205, 142, 0.6);
}

.form p {
  font-family: var(--poppins);
  font-size: 14px;
}

.form p > a {
  font-weight: 500;
  color: hsl(248, 32%, 49%);
}

.form p > a:hover {
  font-weight: 700;
}

/* create new post page design */
.new-post {
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 6px rgba(62, 60, 73, 0.3);
  width: 80%;
  margin: 40px auto;
  padding: 20px;
}

.new-post > h2 {
  font-family: var(--roboto);
}

.new-post form {
  font-family: var(--poppins);
}

.new-post form div > input {
  width: 100%;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgba(62, 60, 73, 0.3);
  font-weight: 600;
}

.new-post form div select {
  width: 100%;
  padding: 10px;
}

.new-post form div textarea {
  width: 100%;
  margin-top: 10px;
}

.new-post form .btn {
  margin: 20px 0;
  color: white;
  text-align: center;
  letter-spacing: 1.2px;
  background-color: hsl(247, 60%, 62%);
  padding: 14px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px rgb(94, 77, 199);
  border: none;
  font-size: 16px;
  font-weight: 700;
  width: 20%;
}

.new-post form .btn:hover {
  background-color: hsla(248, 32%, 49%, 0.6);
}
