:root {
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  font-family: var(--roboto);
  border-bottom: 2px solid #f3f3f3;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f96b6b;
}

.nav__logo > a {
  color: #2f0f0f;
  font-size: 36px;
  font-weight: 900;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__links > li {
  padding: 10px;
  margin: 0 15px;
  border-radius: 16px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.nav__links form {
  margin: 0 15px;
}

.nav__links form input {
  font-family: var(--poppins);
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgba(62, 60, 73, 0.3);
  font-weight: 600;
}

.nav__links a > img {
  width: 30px;
  height: 30px;
}

.nav__links li > a {
  color: #424259;
  transform: 100ms ease-in;
}

.nav__links li > a:hover {
  font-weight: 700;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #2f0f0f;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
  width: 120px;
  top: -5px;
  right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
