{% extends "heritage/layout.html" %}
{% load static %}

{% block body %}

<section class="info">
    <div class="info__name">
        <h1> {{country}} </h1>
        <input class="country" type="hidden" value="{{country}}">
        <div class="coatOfArms"> </div>
    </div>
</section>

<section class="posts">
    {% for post in posts %}
    <div class="posts__post">
        <h2>{{post.title}}</h2>
        <p class="content">{{post.content}}</p>
        <!-- COUNTRY : {{post.country}} <br> -->
        <div class="post-info">
            <p class="time"> {{post.timestamp}} </p>
            <p class="poster">by {{post.poster}} </p>
        </div>
    </div>
    {% endfor %}
</section>

{% if posts %}
<script> countryPageLoad()</script>
{% endif %}

{% endblock %}

{% block script %}
<script src="{% static 'heritage/script.js' %}"></script>
{% endblock %}