{% extends "heritage/layout.html" %}
{% load static %}

{% block body %}

    <strong> <h1>  {{country}} </h1> </strong> <br>

    <input class="country" type="hidden" value="{{country}}">
    <div class="coatOfArms"> </div>
    <div class="continents"> </div>
    <div class="currencies-name"> </div>
    <div class="currencies-symbol"> </div>
    <div class="flags"> </div>
    <div class="languages"> </div>
    <div class="population"> </div>

    <hr>
    Place for posts by users: <br><br>

    {% for post in posts %}
        <div>
            TITLE : {{post.title}} <br>
            CONTENT : {{post.content}} <br>
            COUNTRY : {{post.country}} <br>
            POSTED AT: {{post.timestamp}} <br>
            POSTED BY: {{post.poster}} <br>
        </div> <br><br>
    {% endfor %}

    {% if posts %}
        <script> countryPageLoad() </script>
    {% endif %}

{% endblock %} 

{% block script %}
    <script src="{% static 'heritage/script.js' %}"></script>
{% endblock %}