{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="{% static 'heritage/styles.css' %}" rel="stylesheet">
    <link href="{% static 'heritage/index.css' %}" rel="stylesheet">
    <link href="{% static 'heritage/form.css' %}" rel="stylesheet">
    <link href="{% static 'heritage/countryPage.css' %}" rel="stylesheet">

    {% block script %}
    {% endblock %}
</head>

<body>

    <nav class="nav">
        <div class="nav__logo">
            <a href="{% url 'index' %}">P</a>
        </div>
        <ul class="nav__links">
            <form action="/" method="GET">
                <input class="search" type="text" name="q" placeholder="Search a country" autocomplete="off" id="form">
            </form>

            {% if user.is_authenticated %}
            <a href="#" class="tooltip"><img src="{% static 'heritage/avatar.svg' %}">
                <span class="tooltiptext">{{user}}</span></a>
            <li><a href="{%url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block body %}

    {% endblock %}
</body>

</html>